.btn-login{
  color: #fff;
  background: #00a3ff;
}

.btn-login:hover{
  color: #00a3ff;
  background: #fff;
  border: 1px solid #00a3ff;
}

.btn-signup:hover{
  color: #fff;
  background: #00a3ff;
}

.btn-signup{
  color: #00a3ff;
  background: #fff;
  border: 1px solid #00a3ff;
}


/* SHOP PAGE */

.pages-area-shop{
  background: rgba(0, 0, 0, 0) url("../img/shop/shopBG.png") no-repeat scroll center center / cover;
}

.pages-area-product{
  background: rgba(0, 0, 0, 0) url("../img/product/product_detailBG.png") no-repeat scroll center center / cover;
  padding-top: 83px;
}
